<h1>Password demo</h1>
<form method="POST" action="/demo">
    {{ form.csrf_token() }}
    <div>
        {{ form.password.label }}
    </div>
    <div style="margin-top: 5px">
        {{ form.password(size=100) }}
    </div>
    <div style="margin-top: 20px">
        <input type="submit" value="Get result">
    </div>
</form>
{% if (result is not none) %}
    <h2 style='margin-top: 50px'>Result</h2>
    <p>Prediction: <b>{{ result }}</b></p>
    
{% endif %}
